<section id="about" class="text">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="heading">Quijote</h2>

        <p class="lead">Persona que tiene ideales elevados y lucha y defiende causas que, aunque nobles y justas, no le atañen.</p>

        {{ site.about | markdownify }}

      </div>

      <div class="col-lg-5 mx-auto">
        <p><img src="{{ 'assets/img/about-1.jpeg' | relative_url }}" alt="" class="img-fluid rounded-circle"></p>
      </div>

    </div>
  </div>
</section>
