<section id="about" class="text">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="heading">Quijote</h2>

        <p class="lead">Hombre de aventuras e ideales que se embarca en controversias por defender justicias que no le atañen.</p>

        <p>¿Quién soy? Soy Bronson Duhart. Cuerdo y delirante. Realista y soñador. Alguien de buen corazón y mala mente.</p>

        <p>Un día alguien me aconsejó que escribiera, y no he parado de hacerlo desde entonces. Otro día, a alguien le prometí que le daríamos la vuelta al mundo.</p>

        <p>Éste es el resultado.</p>

        <p><i>Soy un hombre de visión con la cualidad de hacer las visiones realidad, así que vengo a ofrecerte una como regalo de cumpleaños. No tienes que tomarla, basta con escucharla. Te lo he dicho, te estoy mostrando un camino y queda en ti si quieres caminarlo; no es el único el mío.</i></p>

        <!-- {{ site.about | markdownify }} -->

      </div>

      <div class="col-lg-5 mx-auto">
        <p><img src="{{ 'assets/img/about-1.jpeg' | relative_url }}" alt="" class="img-fluid rounded-circle"></p>
      </div>

    </div>
  </div>
</section>
