{% capture cover_path %}{{ '/assets/img/' | relative_url | append: page.image }}{% endcapture %}

<!-- cover  -->
<section id="cover" style="background-image: url('{{ cover_path }}');" class="intro grayscale-max cover">
  <div class="overlay"></div>
  <div class="content">
    <div class="container clearfix">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
          <!-- <p class="italic">Oh, hello, nice to meet you!</p> -->
          <p>{{ include.pretitle }}</p>
          <h1>{{ include.title }}</h1>
          <p class="lead">{{ include.subtitle }}</p>
          <!-- <p class="italic">Mi viaje personal por la vida, documentado a través de letras e imágenes.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cover end -->
