{% if layout.header %}
{% include {{ layout.header }} %}
{% endif %}

<nav id="topnav" class="navbar navbar-expand-md fixed-top">
  <div class="container">

    <a href="#intro" class="navbar-brand link-scroll">
      <img src="{{ 'assets/img/logo.png' | relative_url }}" alt="" class="img-fluid">
    </a>

    <button type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler-right">
        <i class="fa fa-bars"></i>
    </button>

    {% include pagenav.html %}

  </div>
</nav>

<!-- --------------------------------------------------- -->
<!-- Might use later (cool bootstrap navbar) -->
<!-- --------------------------------------------------- -->

<!-- <nav class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand" href="#">Fixed navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->
