{% if layout.header %}
  {% include {{ layout.header }} %}
{% endif %}

<!-- intro -->
<section id="intro" style="background-image: url('assets/img/ein-steig.jpg');" class="intro">
  <div class="overlay"></div>
  <div class="content">
    <div class="container clearfix">
      <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">

          <!-- <p class="italic">Oh, hello, nice to meet you!</p> -->

          <h1>{{ site.name }}</h1>

          <p class="italic">Mi viaje personal por la vida, documentado a través de letras e imágenes.</p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- intro end -->

<header class="header">

  <nav class="navbar navbar-expand-lg">
    <div class="container">

      <a href="#intro" class="navbar-brand link-scroll">
        <img src="{{ 'assets/img/logo.png' | relative_url }}" alt="" class="img-fluid">
      </a>

      <button type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler-right">
          <i class="fa fa-bars"></i>
      </button>

      {% include pagenav.html %}

    </div>
  </nav>

</header>
