html, body {
  height: initial;
}

section, footer {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

section {
  min-height: 100vh;
}

section.intro {
  min-height: initial;
  height: 100vh;
}

img.parallax {
  position: fixed;

  /* Center horizontally */
  /* Vertical center has issue with mobile address bar */
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  /* To reset img selector values */
  /* Might need to update that one later */
  max-width: initial;
  max-height: initial;

  min-height: 100%;
  min-width: 100%;
}

.overlay {
  opacity: 0.3;
}

.no-opacity {
  opacity: 0;
}

.greyscale-max,.grayscale-max,.hover-greyscale:hover,.hover-grayscale:hover{filter:grayscale(100%)}
.greyscale,.grayscale{filter:grayscale(75%)}
.greyscale-min,.grayscale-min{filter:grayscale(50%)}

@media (max-width: 767.98px) {
  .content {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.intro {
  text-align: center;
}

/* Check for a more specific selector later */
img {
  max-width: 100%;
  max-height: 100%;
}

.post-thumbnails .box {
  position: relative;
  padding-top: 61.8%;
}

.post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.post-details {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.post-details:hover {
  opacity: 1;
  transition: opacity 0.35s ease-out;
}

.post-thumbnail {
  background-size: cover;
  background-position: center center;
}

.post-thumbnail a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
}

#topnav.animate {
  transition: opacity 0.35s ease-out;
}

#topnav.animate.no-opacity {
  transition: opacity 0.25s ease-in;
}

/* Set fixed height for navbar later */
section:first-child {
  margin-top: 80px;
}
