html, body {
  font-family: "Cardo", "Times New Roman", Times, serif;
  font-family: 'Nixie One', cursive;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

footer {
  font-style: initial;
}

.copyright {
  font-style: initial;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Muli', cursive; */
  font-family: "Montserrat";
  font-weight: 500;
}

p {
  font-family: "Raleway";
  font-family: "Work sans";
  font-size: 1.125em;
  font-weight: 300;
}

.intro h1 {
  font-size: 2em;
}

p.lead {
  /* font-size: 1.6em; */
  font-family: 'Nixie One', cursive;
  font-weight: 400;
}

@media (min-width: 992px) {
  .intro h1 {
    font-size: 2.4em;
  }

  p.lead {
    font-size: 1.6em;
  }
}

blockquote {
  font-size: 1.2em;
}
blockquote, blockquote * {
  font-family: 'Nixie One', cursive;
  font-weight: 400;
}

.text-page {
  font-size: 1.25em;
}

nav.navbar a.nav-link {
  font-style: initial;
  font-size: 1.2em;
  /* font-weight: 600; */
}

.post-thumbnail h1 {
  font-size: 1.5em;
}
