---
layout: default
style: post/style.html
---

{% capture pretty_date %}
{% include date-locale.html date=page.date format=page.date_format %}
{% endcapture %}
{% include cover.html title=page.place subtitle=pretty_date %}

<!-- text page -->
<section id="text" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- Has a nice styling (might use later): -->
        <!-- <h2 class="heading">Text page</h2> -->

        <div class="row">
          <div class="col-12">
            {{ content }}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- text page end -->
