---
layout: default
<!-- style: posts/style.html -->
---

{% assign pretty_date=page.date | date: "%A %B %d, %Y" %}
{% include cover.html title=page.place subtitle=pretty_date %}

<!-- text page-->
<section id="text" class="text-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- <h2 class="heading">Text page</h2> -->

        <div class="row">
          <div class="col-12">
            {{ content }}
          </div>
        </div>

        <div class="row no-gutters">
          {% for image in page.images %}
          <div class="col-lg-5 col-md-6">
            <div class="box">
              <!-- <a href="{{ post.url | relative_url }}"></a> -->
              <img src="{{ '/assets/img/' | relative_url | append: image.path }}" alt="{{ image.text }}" class="post-img img-fluid" />
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</section>
<!-- text page end -->

<main id="page-body" class="light">
  <div class="wrapper">
    <article class="post">
      <!-- <img class="post-img" src="{{ '/assets/img/' | relative_url | append: page.image }}" ></img> -->

      <!-- <h1 class="post-title">{{ page.title }}</h1> -->

      <!-- <p class="post-date" >
        <time datetime="{{ page.date }}">
          {{ page.date | date: '%d-%m-%Y'}}
        </time>
      </p> -->

    </article>
  </div>
</main>
